body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

header{
    position: fixed;
    width: 100%;
    z-index: 10000;
    overflow: hidden;
    background-color: #f3f3f3;
}

header .logo {
    display: inline-block;
    height: 100%;
    width: 10%;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../img/logo.jpg);
}

header nav {
    display: inline-block;
    width: 89%;
    text-align: right;
}

header nav a {
	cursor: pointer;
    color: black;
    font-size: 1.2em;
    padding: 0.3%;
}
header nav a.current {
    color:red;
}

.main {
	width: 100%;
	height: 100%;
}
section {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#section1 {
	background-image: url("../img/livre.jpg");
}
#section2 {
	background-image: url("../img/livre.jpg");
}
#section3 {
	background-image: url("../img/livre.jpg");
}
#section4 {
	background-image: url("../img/livre.jpg");
}
#section5 {
	background-image: url("../img/livre.jpg");
}
#section6 {
	background-image: url("../img/livre.jpg");
}
#section7 {
	background-image: url("../img/livre.jpg");
}