<header class="headerstandard">
  <div class="headerstandard-inner">
    <div class="logo">&nbsp;</div>
    <nav class="menu menustandard">
      <a target="#section1">Accueil</a>
      <a target="#section2">Actus</a>
      <a target="#section3">Livres</a>
      <a target="#section4">Marque-Pages</a>
      <a target="#section5">Salons et Dédicaces</a>
      <a target="#section6">Qui suis-je ?</a>
      <a target="#section7">Contact</a>
    </nav>
  </div>
</header>
<div class="main" id="main">
  <section id="section1" class="section accueil"></section>
  <section id="section2" class="section actus"></section>
  <section id="section3" class="section livres"></section>
  <section id="section4" class="section marque-pages"></section>
  <section id="section5" class="section salons"></section>
  <section id="section6" class="section qui"></section>
  <section id="section7" class="section contact"></section>
</div>