<div class="news article liste date">
	<div class="contenu">
		<ul class="menu-liste">
		</ul>
	</div>
</div>
<div class="news article centralBloc">
	<div class="text-center">
       <button class="admin-button">Enregistrer</button>
       <button class="admin-button">Nouvelle news</button>
    </div>
	<div class="contenu">
		<div class="texte">
			<div class="date"></div>
			<div contenteditable='true' class="titre"></div>
			<div contenteditable='true' class="resume"></div>
		</div>
	</div>
	<div class="next plus" style="display: none; width: 50%;">&lt;&lt; Suivant</div>
	<div class="preview plus" style="width: 100%;">Pr&eacute;c&eacute;dent &gt;&gt;</div>
</div>
<div class="news article liste droite liste-admin">
   <div class="contenu">
       <ul id="liste-img" class="menu-liste">
	       <li>Nouvelle image</li>
	   </ul>
   </div>
   <div class="contenu">
       <ul id="liste-video" class="menu-liste">
           <li>Nouvelle video</li>
       </ul>
   </div>
</div>